@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/bootswatch/dist/sketchy/bootstrap.min.css";
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.MuiFormControl-fullWidth {
  width: 90%;
}

.MuiAlert-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .block-users-links {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
} */
a.nav-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;

  transition: background 0.5s;
  /* color: #333; */
}
a.active {
  /* color: #333;
  background: rgba(128, 128, 128, 0.479);
  border-radius: 5px; */
}
a:hover {
  /* background: rgba(135, 136, 148, 0.479);
  border-radius: 5px; */
}
p {
  margin: 0;
  padding: 0;
}

p.textcheck {
  text-decoration: line-through;
}
.fas.fa-user.i {
  /* display: inline-block;
  vertical-align: middle; */
}
span {
  /* display: inline-block;
  vertical-align: middle; */
  /* margin-left: 20px; */
  /* vertical-align: middle; */
}
.list-group {
  background-color: honeydew;
  list-style: none;
}

.modal {
  display: block;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
